{# <section> #}
{# <form action="/index.js" id="usrform">
  <input id="name" type="text" name="usrname" placeholder="Your name...">

  <textarea cols="30" rows="10" id="comment" form="usrform">Enter text here...</textarea>
  <input id="submit" type="submit">
</form> #}

<div class="container">
  <form id="myForm" action="../index.js" method="post">
    <label for="user">Username</label>
    <input type="text" id="user" name="username" placeholder="Your username..">

    <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>
    <input type="submit" value="Submit">
  </form>
</div>

<ul>
  <li>“Do not follow where the path may lead. Go instead where there is no path and leave a trail.” –
    <em>Ralph Waldo Emerson</em>
  </li>
  <li>“Whatever you do, or dream you can, begin it. Boldness has genius and power and magic in it.” -
    <em>Johann Wolfgang von Goethe</em>
  </li>
  <li>“I would rather die of passion than of boredom.” -
    <em>Vincent van Gogh</em>

  </li>
  <ul/>