<p>
  <quote>I'm going down to Rose Marie's She never does me wrong. She puts it to me plain as day And gives it to me for a song. It's a wicked life but what the hell But what that hell, oh everybody's got to eat And I'm just the same as anyone else When it comes to scratchin' for my meat Goin' to Acapulco Goin' on the run. Goin' down to see fat gut Goin' to have some fun. Yeah Goin' to have some fun......
    <em id="bob">Bob Dylan</quote>
  </>
</p>
<img class="place-pic" src="/assets/placeholder.png" alt="placeholder"></div>